## Direcional bias depending on first 15min candle

In [27]:
import pandas as pd
dn = pd.read_csv("NIFTY_50.csv", parse_dates=["Date"], index_col="Date")

In [22]:
dn.shape

(3111, 4)

In [5]:
# Data merging

df = pd.read_csv("NIFTY_2020.csv")
df1 = pd.read_csv("NIFTY_2019.csv")
df2 = pd.read_csv("NIFTY_2018.csv")
df3 = pd.read_csv("NIFTY_2017.csv")
df4 = pd.read_csv("NIFTY_2016.csv")
df5 = pd.read_csv("NIFTY_2015.csv")
df6 = pd.read_csv("NIFTY_2014.csv")
df7 = pd.read_csv("NIFTY_2013.csv")
df8 = pd.read_csv("NIFTY_2012.csv")
df9 = pd.read_csv("NIFTY_2011.csv")
df10 = pd.read_csv("NIFTY_2010.csv")
df11 = pd.read_csv("NIFTY_2009.csv")
df12 = pd.read_csv("NIFTY_2008.csv")

frames = [df12, df11, df10, df9, df8, df7, df6, df5, df4, df3, df2, df1, df]
result = pd.concat(frames)

In [6]:
result["Date"] = result["Date"].astype("str")
result["Time"] = result["Time"].astype("str")
result["Date&Time"] = result["Date"] + " " + result["Time"]
result["Date&Time"] = pd.to_datetime(result["Date&Time"])
result.set_index('Date&Time', inplace=True)

In [7]:
t = result.groupby(pd.Grouper(freq='30Min')).agg({"Open": "first", 
                                             "Close": "last", 
                                             "Low": "min", 
                                             "High": "max"})
t.columns = ["Open", "Close", "Low", "High"]

In [9]:
t.tail()

                         Open     Close       Low      High
Date&Time
2020-11-27 13:30:00  12971.25  12971.95  12953.55  13006.75
2020-11-27 14:00:00  12971.70  12981.10  12958.25  12990.85
2020-11-27 14:30:00  12980.85  12975.85  12914.30  12984.15
2020-11-27 15:00:00  12976.15  12937.70  12927.95  12986.25
2020-11-27 15:30:00  12936.40  12968.95  12933.85  12968.95

In [10]:
new_t = t.dropna(how='all')        # drops rows who's all column values are none

In [11]:
df_1st = new_t.between_time('8:59', '9:30')

In [12]:
t_1st = df_1st.groupby(pd.Grouper(freq='D')).agg({"Open": "first", 
                                             "Close": "last", 
                                             "Low": "min", 
                                             "High": "max"})
t_1st.columns = ["Open_30", "Close_30", "Low_30", "High_30"]

In [13]:
new_t_1st = t_1st.dropna(how='all')

In [14]:
new_t_1st.head()

            Open_30  Close_30   Low_30  High_30
Date&Time
2008-01-01  6138.60   6113.90  6113.55  6154.60
2008-01-02  6165.05   6164.10  6161.35  6175.95
2008-01-03  6168.85   6178.35  6138.45  6178.35
2008-01-04  6201.25   6231.85  6201.25  6232.75
2008-01-07  6207.10   6221.95  6202.05  6224.65

In [15]:
new_t_1st.shape

(3159, 4)

In [28]:
db = new_t_1st.join(dn)

In [29]:
new_db = db.dropna(how='all')

In [30]:
new_db.shape

(3160, 8)

In [31]:
new_db

             Open_30  Close_30    Low_30   High_30  Open  High  Low  Close
2008-01-01   6138.60   6113.90   6113.55   6154.60   NaN   NaN  NaN    NaN
2008-01-02   6165.05   6164.10   6161.35   6175.95   NaN   NaN  NaN    NaN
2008-01-03   6168.85   6178.35   6138.45   6178.35   NaN   NaN  NaN    NaN
2008-01-04   6201.25   6231.85   6201.25   6232.75   NaN   NaN  NaN    NaN
2008-01-07   6207.10   6221.95   6202.05   6224.65   NaN   NaN  NaN    NaN
...              ...       ...       ...       ...   ...   ...  ...    ...
2020-11-23  12960.30  12886.85  12870.50  12962.10   NaN   NaN  NaN    NaN
2020-11-24  13002.60  13029.45  12978.00  13033.70   NaN   NaN  NaN    NaN
2020-11-25  13130.00  13120.95  13113.15  13145.85   NaN   NaN  NaN    NaN
2020-11-26  12906.45  12835.85  12815.70  12916.75   NaN   NaN  NaN    NaN
2020-11-27  13012.05  12986.75  12952.70  13035.30   NaN   NaN  NaN    NaN

[3160 rows x 8 columns]

In [32]:
new_db = new_db.dropna()

In [33]:
new_db.shape

(2349, 8)

In [34]:
new_db

,Open_30,Close_30,Low_30,High_30,Open,High,Low,Close
2010-01-04,5201.00,5220.00,5167.00,5224.00,5200.90,5238.45,5167.10,5232.2
2010-01-05,5277.00,5278.00,5242.00,5286.00,5277.15,5288.35,5242.40,5277.9
2010-01-06,5278.00,5287.00,5271.00,5311.00,5278.15,5310.85,5260.05,5281.8
2010-01-07,5281.80,5270.15,5264.50,5302.55,5281.80,5302.55,5244.75,5263.1
2010-01-08,5264.25,5259.65,5251.30,5275.10,5264.25,5276.75,5234.70,5244.7
...,...,...,...,...,...,...,...,...
2020-07-22,11231.20,11131.90,11102.35,11238.10,11231.20,11238.10,11056.55,11132.0
2020-07-23,11135.00,11165.10,11103.15,11177.15,11135.00,11239.80,11103.15,11215.0
2020-07-24,11149.95,11165.85,11123.65,11169.40,11149.95,11225.40,11090.30,11194.0
2020-08-18,11259.80,11315.50,11253.15,11322.50,11259.80,11401.70,11253.15,11385.0
2020-10-15,12023.45,11966.40,11906.35,12025.45,12023.45,12025.45,11661.30,11680.0

In [41]:
type(new_db)

pandas.core.frame.DataFrame

In [42]:
new_db.to_excel("Nifty50_with_1st_15min.xlsx")

### New_db - contains data of first 15min candle data merged with daily data ( 09.00 - 09.30 ) data

In [40]:
import matplotlib.pyplot as plt
%matplotlib inline
bin_range = (0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1)

new_db["OPR"] = (new_db['Open'] - new_db['Low'])/(new_db['High'] - new_db['Low'])
# new_db["CPR"] = (new_db['Close'] - new_db['Low'])/(new_db['High'] - new_db['Low'])
# new_db["Solid"] = (abs(new_db['Open'] - new_db['Close']))/(new_db['High'] - new_db['Low'])
# new_db['True_Range_ratio'] = ((new_db['High'] - new_db['Low'])/new_db['Close'])*100
# new_db['TRR_Next'] = new_db['True_Range_ratio'].shift(1)
# new_db['TRR_Prev'] = new_db['True_Range_ratio'].shift(-1)
# new_db['OPR_Next'] = new_db['OPR'].shift(1)
# new_db['CPR_Next'] = new_db['CPR'].shift(1)
# new_db['CPR_Prev'] = new_db['CPR'].shift(-1)
# new_db['OPR_Prev'] = new_db['OPR'].shift(-1)
# new_db['Prev_Close'] = new_db['Close'].shift(-1)
# new_db['Open-Low%'] = ((new_db['Open'] - new_db['Low'])/new_db['Prev_Close'])*100
# new_db['Open-High%'] = ((new_db['High'] - new_db['Open'])/new_db['Prev_Close'])*100
# new_db['Range~Prev_Close'] = ((new_db['High'] - new_db['Low'])/new_db['Prev_Close'])*100

C:\Users\NINAD\AppData\Local\Temp/ipykernel_11196/3831090056.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_db["OPR"] = (new_db['Open'] - new_db['Low'])/(new_db['High'] - new_db['Low'])

In [39]:
df['True_Range_ratio_30'] = ((df['High_30'] - df['Low_30'])/df['Close_30'])*100
df["OPR_30"] = (df['Open_30'] - df['Low_30'])/(df['High_30'] - df['Low_30'])
df["CPR_30"] = (df['Close_30'] - df['Low_30'])/(df['High_30'] - df['Low_30'])
df["Solid_30"] = (abs(df['Open_30'] - df['Close_30']))/(df['High_30'] - df['Low_30'])

KeyError: 'High_30'