In [81]:
import pandas as pd
df = pd.read_csv("NIFTY_2020.csv")

In [2]:
df.columns

Index(['Instrument', 'Time', 'Open', 'High', 'Low', 'Close'], dtype='object')

In [20]:
df1 = pd.read_csv("NIFTY_2019.csv", parse_dates=["Date"], index_col=["Date", "Time"])

In [30]:
df2 = pd.read_csv("NIFTY_2018.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df3 = pd.read_csv("NIFTY_2017.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df4 = pd.read_csv("NIFTY_2016.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df5 = pd.read_csv("NIFTY_2015.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df6 = pd.read_csv("NIFTY_2014.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df7 = pd.read_csv("NIFTY_2013.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df8 = pd.read_csv("NIFTY_2012.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df9 = pd.read_csv("NIFTY_2011.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df10 = pd.read_csv("NIFTY_2010.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df11 = pd.read_csv("NIFTY_2009.csv", parse_dates=["Date"], index_col=["Date", "Time"])
df12 = pd.read_csv("NIFTY_2008.csv", parse_dates=["Date"], index_col=["Date", "Time"])

In [22]:
frames = [df12, df11, df10, df9, df8, df7, df6, df5, df4, df3, df2, df1, df]
result = pd.concat(frames)

In [23]:
result.head()

                 Instrument     Open     High      Low    Close
Date       Time
2008-01-01 09:55      NIFTY  6138.60  6154.60  6138.60  6148.90
           09:56      NIFTY  6149.75  6149.75  6132.80  6132.80
           09:57      NIFTY  6138.25  6138.25  6127.95  6127.95
           09:58      NIFTY  6127.15  6127.15  6120.90  6120.90
           09:59      NIFTY  6118.05  6118.05  6113.55  6113.90

In [24]:
result.tail()

                 Instrument      Open      High       Low     Close
Date       Time
2020-11-27 15:28      NIFTY  12947.00  12947.00  12927.95  12927.95
           15:29      NIFTY  12928.35  12947.90  12928.35  12937.70
           15:30      NIFTY  12936.40  12948.60  12933.85  12942.85
           15:31      NIFTY  12941.95  12941.95  12941.95  12941.95
           15:32      NIFTY  12943.05  12968.95  12943.05  12968.95

In [37]:
result.shape

(1178891, 5)

In [26]:
result.index

MultiIndex([('2008-01-01', '09:55'),
            ('2008-01-01', '09:56'),
            ('2008-01-01', '09:57'),
            ('2008-01-01', '09:58'),
            ('2008-01-01', '09:59'),
            ('2008-01-01', '10:00'),
            ('2008-01-01', '10:01'),
            ('2008-01-01', '10:02'),
            ('2008-01-01', '10:03'),
            ('2008-01-01', '10:04'),
            ...
            ('2020-11-27', '15:23'),
            ('2020-11-27', '15:24'),
            ('2020-11-27', '15:25'),
            ('2020-11-27', '15:26'),
            ('2020-11-27', '15:27'),
            ('2020-11-27', '15:28'),
            ('2020-11-27', '15:29'),
            ('2020-11-27', '15:30'),
            ('2020-11-27', '15:31'),
            ('2020-11-27', '15:32')],
           names=['Date', 'Time'], length=1178891)

In [31]:
df.size

432850

In [35]:
df = pd.read_csv("NIFTY_2020.csv", parse_dates=["Date"], index_col=["Date", 'Time'])

In [36]:
df.shape

(86570, 5)

In [62]:
df.loc[("2020-01-01", "09:55"), 'Open']

Date        Time
2020-01-01  09:55    12203.8
Name: Open, dtype: float64

In [65]:
df.loc[("2020-01-01", "09:55"): ("2020-01-01", "09:59") , 'Open']

Date        Time
2020-01-01  09:55    12203.80
            09:56    12199.55
            09:57    12199.00
            09:58    12199.95
            09:59    12198.55
Name: Open, dtype: float64

In [69]:
df.loc[("2020-01-01", "09:55"): ("2020-01-01", "09:59") , 'Open'].max()

12203.8

In [67]:
df.loc[("2020-01-01", "09:55"): ("2020-01-01", "09:59") , 'Open'].min()

12198.55

In [70]:
type(df.loc[("2020-01-01", "09:55"), 'Open'])

pandas.core.series.Series

In [72]:
dates_list = ['2020-01-02', '2020-01-03', '2020-01-04']
Open = []
for i in dates_list:
    a = df.loc[(i, '09:30'), 'Open'].max()
    Open.append(a)
    print(a)
    
for k in Open:
    print(k)

12224.9
12248.35
nan
12224.9
12248.35
nan

In [76]:
df.head()

                 Instrument      Open      High       Low     Close
Date       Time
2020-01-01 09:08      NIFTY  12202.15  12202.15  12202.15  12202.15
           09:16      NIFTY  12204.45  12216.25  12201.55  12215.10
           09:17      NIFTY  12215.45  12216.45  12205.70  12206.80
           09:18      NIFTY  12206.50  12207.40  12202.70  12202.70
           09:19      NIFTY  12203.55  12208.40  12201.20  12207.85

In [84]:
df["Date"] = df["Date"].astype("str")
df["Time"] = df["Time"].astype("str")
df["Date&Time"] = df["Date"] + " " + df["Time"]
df["Date&Time"] = pd.to_datetime(df["Date&Time"])
df.set_index('Date&Time', inplace=True)

In [178]:
t = df.groupby(pd.Grouper(freq='30Min')).agg({"Open": "first", 
                                             "Close": "last", 
                                             "Low": "min", 
                                             "High": "max"})
t.columns = ["Open", "Close", "Low", "High"]

In [179]:
t.head()

                         Open     Close       Low      High
Date&Time
2020-01-01 09:00:00  12202.15  12217.30  12201.20  12218.80
2020-01-01 09:30:00  12216.90  12198.90  12191.40  12222.20
2020-01-01 10:00:00  12198.65  12199.60  12184.55  12201.20
2020-01-01 10:30:00  12200.15  12177.55  12169.80  12200.45
2020-01-01 11:00:00  12177.25  12178.70  12175.50  12187.15

In [180]:
t.tail()

                         Open     Close       Low      High
Date&Time
2020-11-27 13:30:00  12971.25  12971.95  12953.55  13006.75
2020-11-27 14:00:00  12971.70  12981.10  12958.25  12990.85
2020-11-27 14:30:00  12980.85  12975.85  12914.30  12984.15
2020-11-27 15:00:00  12976.15  12937.70  12927.95  12986.25
2020-11-27 15:30:00  12936.40  12968.95  12933.85  12968.95

In [181]:
t["2020-01-01 09:00:00": "2020-01-01 09:30:00"]

                         Open    Close      Low     High
Date&Time
2020-01-01 09:00:00  12202.15  12217.3  12201.2  12218.8
2020-01-01 09:30:00  12216.90  12198.9  12191.4  12222.2

In [182]:
t["2020-01-01 09:00:00": "2020-01-01 09:30:00"].max()

Open     12216.9
Close    12217.3
Low      12201.2
High     12222.2
dtype: float64

In [121]:
type(t["2020-01-01 09:00:00": "2020-01-01 09:30:00"].max())

pandas.core.series.Series

In [122]:
type(t["2020-01-01 09:00:00": "2020-01-01 09:30:00"]['High'].max())

float

In [183]:
t.loc['2020-04-27']

                        Open    Close      Low     High
Date&Time
2020-04-27 00:00:00      NaN      NaN      NaN      NaN
2020-04-27 00:30:00      NaN      NaN      NaN      NaN
2020-04-27 01:00:00      NaN      NaN      NaN      NaN
2020-04-27 01:30:00      NaN      NaN      NaN      NaN
2020-04-27 02:00:00      NaN      NaN      NaN      NaN
2020-04-27 02:30:00      NaN      NaN      NaN      NaN
2020-04-27 03:00:00      NaN      NaN      NaN      NaN
2020-04-27 03:30:00      NaN      NaN      NaN      NaN
2020-04-27 04:00:00      NaN      NaN      NaN      NaN
2020-04-27 04:30:00      NaN      NaN      NaN      NaN
2020-04-27 05:00:00      NaN      NaN      NaN      NaN
2020-04-27 05:30:00      NaN      NaN      NaN      NaN
2020-04-27 06:00:00      NaN      NaN      NaN      NaN
2020-04-27 06:30:00      NaN      NaN      NaN      NaN
2020-04-27 07:00:00      NaN      NaN      NaN      NaN
2020-04-27 07:30:00      NaN      NaN      NaN      NaN
2020-04-27 08:00:00      NaN      NaN      NaN      NaN
2020-04-27 08:30:00      NaN      NaN      NaN      NaN
2020-04-27 09:00:00  9259.70  9311.45  9250.35  9331.95
2020-04-27 09:30:00  9311.65  9310.45  9300.95  9345.65
2020-04-27 10:00:00  9310.25  9367.35  9307.30  9373.65
2020-04-27 10:30:00  9366.90  9357.15  9339.35  9377.10
2020-04-27 11:00:00  9357.10  9338.45  9333.55  9359.70
2020-04-27 11:30:00  9337.25  9334.50  9326.20  9358.35
2020-04-27 12:00:00  9334.70  9363.85  9325.55  9368.40
2020-04-27 12:30:00  9363.60  9351.75  9347.60  9366.15
2020-04-27 13:00:00  9351.25  9347.40  9343.80  9368.20
2020-04-27 13:30:00  9347.55  9323.15  9302.00  9351.85
2020-04-27 14:00:00  9322.90  9294.40  9287.05  9339.20
2020-04-27 14:30:00  9294.75  9299.30  9285.05  9324.70
2020-04-27 15:00:00  9298.85  9285.90  9269.65  9303.95
2020-04-27 15:30:00  9285.60  9282.30  9282.30  9289.70
2020-04-27 16:00:00      NaN      NaN      NaN      NaN
2020-04-27 16:30:00      NaN      NaN      NaN      NaN
2020-04-27 17:00:00      NaN      NaN      NaN      NaN
2020-04-27 17:30:00      NaN      NaN      NaN      NaN
2020-04-27 18:00:00      NaN      NaN      NaN      NaN
2020-04-27 18:30:00      NaN      NaN      NaN      NaN
2020-04-27 19:00:00      NaN      NaN      NaN      NaN
2020-04-27 19:30:00      NaN      NaN      NaN      NaN
2020-04-27 20:00:00      NaN      NaN      NaN      NaN
2020-04-27 20:30:00      NaN      NaN      NaN      NaN
2020-04-27 21:00:00      NaN      NaN      NaN      NaN
2020-04-27 21:30:00      NaN      NaN      NaN      NaN
2020-04-27 22:00:00      NaN      NaN      NaN      NaN
2020-04-27 22:30:00      NaN      NaN      NaN      NaN
2020-04-27 23:00:00      NaN      NaN      NaN      NaN
2020-04-27 23:30:00      NaN      NaN      NaN      NaN

In [114]:
df.tail()

,Instrument,Date,Time,Open,High,Low,Close
Date&Time,,,,,,,
2020-11-27 15:28:00,NIFTY,20201127,15:28,12947.00,12947.00,12927.95,12927.95
2020-11-27 15:29:00,NIFTY,20201127,15:29,12928.35,12947.90,12928.35,12937.70
2020-11-27 15:30:00,NIFTY,20201127,15:30,12936.40,12948.60,12933.85,12942.85
2020-11-27 15:31:00,NIFTY,20201127,15:31,12941.95,12941.95,12941.95,12941.95
2020-11-27 15:32:00,NIFTY,20201127,15:32,12943.05,12968.95,12943.05,12968.95

In [115]:
df.index

DatetimeIndex(['2020-01-01 09:08:00', '2020-01-01 09:16:00',
               '2020-01-01 09:17:00', '2020-01-01 09:18:00',
               '2020-01-01 09:19:00', '2020-01-01 09:20:00',
               '2020-01-01 09:21:00', '2020-01-01 09:22:00',
               '2020-01-01 09:23:00', '2020-01-01 09:24:00',
               ...
               '2020-11-27 15:23:00', '2020-11-27 15:24:00',
               '2020-11-27 15:25:00', '2020-11-27 15:26:00',
               '2020-11-27 15:27:00', '2020-11-27 15:28:00',
               '2020-11-27 15:29:00', '2020-11-27 15:30:00',
               '2020-11-27 15:31:00', '2020-11-27 15:32:00'],
              dtype='datetime64[ns]', name='Date&Time', length=86570, freq=None)

In [184]:
new_t = t.dropna(how='all')        # drops rows who's all column values are none

In [185]:
new_t["2020-01-01 09:00:00": "2020-01-01 09:30:00"]

                         Open    Close      Low     High
Date&Time
2020-01-01 09:00:00  12202.15  12217.3  12201.2  12218.8
2020-01-01 09:30:00  12216.90  12198.9  12191.4  12222.2

In [147]:
per1 = pd.date_range(start ='1-1-2018', 
         end ='1-05-2018')
# type(per1.astype('str'))

for i in per1:
    print(type(i))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [194]:
df_1st = new_t.between_time('8:59', '9:30')

In [195]:
t_1st = df_1st.groupby(pd.Grouper(freq='D')).agg({"Open": "first", 
                                             "Close": "last", 
                                             "Low": "min", 
                                             "High": "max"})
t_1st.columns = ["Open_15", "Close_15", "Low_15", "High_15"]

In [196]:
new_t_1st = t_1st.dropna(how='all')

In [197]:
new_t_1st.head()

             Open_15  Close_15    Low_15   High_15
Date&Time
2020-01-01  12202.15  12198.90  12191.40  12222.20
2020-01-02  12198.55  12212.10  12195.25  12230.95
2020-01-03  12261.10  12239.80  12228.00  12263.55
2020-01-06  12170.60  12094.55  12062.85  12179.10
2020-01-07  12079.10  12131.05  12073.00  12152.15

In [198]:
new_t_1st.shape

(229, 4)

In [199]:
db = pd.read_csv("NIFTY_50.csv", parse_dates=["Date"], index_col="Date")
db1 = new_t_1st.join(db)

In [200]:
new_db = db1.dropna(how='all')

In [201]:
new_db.shape

(229, 8)

In [202]:
new_db.head()

,Open_15,Close_15,Low_15,High_15,Open,High,Low,Close
2020-01-01,12202.15,12198.90,12191.40,12222.20,12202.15,12222.20,12165.30,12182.0
2020-01-02,12198.55,12212.10,12195.25,12230.95,12198.55,12289.90,12195.25,12282.0
2020-01-03,12261.10,12239.80,12228.00,12263.55,12261.10,12265.60,12191.35,12226.0
2020-01-06,12170.60,12094.55,12062.85,12179.10,12170.60,12179.10,11974.20,11993.0
2020-01-07,12079.10,12131.05,12073.00,12152.15,12079.10,12152.15,12005.35,12052.0

In [203]:
dn = pd.read_csv("NIFTY_50.csv", parse_dates=["Date"], index_col="Date")

In [205]:
dn.head()

                Open      High       Low     Close
Date
2021-11-25   17417.3  17564.35   17351.7  17536.25
2021-11-24  17550.05   17600.6     17354  17415.05
2021-11-23  17281.75   17553.7   17216.1  17503.35
2021-11-22  17796.25  17805.25  17280.45  17416.55
2021-11-18  17890.55   17945.6   17688.5   17764.8